.donate-page button {
    background-color: rgb(1,159,175);
    color: white;
    padding: 2%;
    padding-left: 7%;
    padding-right: 7%;
    border: none;
    margin-top: 2%;
}

@media screen and (max-width: 767px) {
  .donate-page button {
    width: 100%;
  }
}
